<body>
    <nav class="navbar navbar-custom navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/movies">Rotten Potatoes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link first-navbar-button" href="#topMovies">Movie List<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link second-navbar-button">Welcome</a>
                </li>
                <li class="nav-item active">
                   {{#each users}}
                    <a id="userNameHere" class="nav-link third-navbar-button" data-id={{id}}> {{email}}</a>
                    {{/each}}
                </li>
                <li class="nav-item active">
                    <a class="nav-link fourth-navbar-button" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-center mt-5 text-wrap font-weight-bold">
        <div class="row">
            <div class="col-md-12 mainText mb-2">
                <h2>Welcome To</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mainTextStyle mb-5">
                <h1>Rotten Potatoes Movie Rater</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 greyText mb-3">
                <h6>Rate Movies below by inputing a Movie Name, selecting a Genre, and selecting a Rating</h6>
            </div>
        </div>
    </div>

    <div class="container" id="movieLists">
        <div class="row">
            <!-- Movie Input Here -->
            <div class="col-sm-1 col-md-3"></div>
            <div class="col-sm-3 col-md-2">
                <div class="input-group mb-3 movie-name-input">
                    <input type="text" class="form-control" placeholder="Movie Name" aria-label="Movie Name"
                        id="addMovies">
                </div>
            </div>
            <!-- Movie Genre Here -->
            <div class="col-sm-3 col-md-2 mr-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span id="selectedGenreOne">Movie
                                Genre</span></button>
                        <div id="firstMovieGenre" class="dropdown-menu">
                            {{#each genre}}
                                <a class="dropdown-item" id={{genre}} data-id={{id}}>{{genre}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rating Drop Down Here -->
            <div class="col-sm-3 col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span id="selectedRatingOne">Movie
                                Rating</span></button>
                        <div id="firstMovieRating" class="dropdown-menu">
                            <a class="dropdown-item oneStar" value="1">1</a>
                            <a class="dropdown-item twoStar" value="2">2</a>
                            <a class="dropdown-item threeStar" value="3">3</a>
                            <a class="dropdown-item fourStar" value="4">4</a>
                            <a class="dropdown-item fiveStar" value="5">5</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-3"></div>
        </div>
    </div>
    {{!-- Save Button here --}}
    <div id="saveButton">
        <div class="col-md-12 text-center mb-5">
            <button type="button" class="btn btn-outline-warning" id="saveOptions">Save</button>
        </div>
    </div>
    {{!-- top movies here --}}
    <div id="topMovies" class="container">
        <div class="row">
            <div class="col-md-12 mainText text-center mt-5 mb-3">
                <h2>Top Movies Per Genre</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2 text-center">
                <button id="comedyMovies" type="button" class="btn btn-danger genreButton" value="1">Comedy</button>
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <button id="dramaMovies" type="button" class="btn btn-danger genreButton" value="2">Drama</button>
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <button id="horrorMovies" type="button" class="btn btn-warning genreButton" value="5">Horror</button>
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <button id="scifiMovies" type="button" class="btn btn-warning genreButton" value="6">SciFi</button>
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <button id="actionMovies" type="button" class="btn btn-danger genreButton" value="3">Action</button>
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <button id="romanceMovies" type="button" class="btn btn-danger genreButton" value="4">Romance</button>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div id="firstRow" class="row">
          
        </div>
    </div>
    <div class="container mt-5">
        <canvas id="barGraph"></canvas>
    </div>